absl-py==2.1.0
aiofiles==24.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
fastapi==0.115.12
ffmpy==0.5.0
flatbuffers==25.2.10
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
gradio==5.29.0
gradio_client==1.10.0
groovy==0.1.2
grpcio==1.70.0
hf-xet==1.1.0
huggingface-hub==0.31.1
jax==0.4.13
jsonpointer==2.1
kagglehub==0.3.10
keras==3.9.0
libclang==18.1.1
matplotlib==3.9.2
ml_dtypes==0.5.1
namex==0.0.8
nlpaug==1.1.11
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
orjson==3.10.18
protobuf==4.25.3
pyasn1-modules==0.2.8
pydub==0.25.1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-multipart==0.0.20
ruff==0.11.9
safehttpx==0.1.6
safetensors==0.5.3
semantic-version==2.10.0
setuptools==75.1.0
starlette==0.46.2
streamlit-drawable-canvas==0.9.3
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
tf_keras==2.19.0
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.6.0
torchinfo==1.8.0
torchvision==0.21.0
transformers==4.52.4
typer==0.15.3
uvicorn==0.34.2
vaderSentiment==3.3.2
websockets==15.0.1
wheel==0.44.0
wordcloud==1.9.4
xgboost==2.1.4
